*.iml
.gradle/
build/
local.properties
.idea/
*.apk
*.aab
*.jks
*.keystore
.settings/
.project
.classpath
/bin/
/gen/
/out/
/app/build/
/app/release/
captures/
.externalNativeBuild/
.cxx/
*.hprof
*.log
.DS_Store
Thumbs.db
